<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ATIA_SERVER_PORT_8601" value="8601"/>
    <add key="ATIA_SERVER_PORT_8671" value="8671"/>
    
    <!--8601:call_activity_update , end_of_call,register,unregister: for power on/off event -->
    <!--8671:control_update:for start/end call event(group,private call(phone call maybe)-->
    <add key="log_raw_data" value="true"/>
    <add key="raw_log_counter" value="0"/>
    <!--log4net settings-->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <!--SQL config-->
    <add key="SQL_SERVER_IP" value="192.168.1.78"/>
    <add key="SQL_SERVER_PORT" value="5432"/>
    <add key="SQL_SERVER_USER_ID" value="postgres"/>
    <add key="SQL_SERVER_PASSWORD" value="postgres"/>
    <add key="SQL_SERVER_DATABASE" value="tms2"/>
    <add key="SQL_ACCESS" value="false"/>
    <!--SQL pooling settings-->
    <add key="Pooling" value="true"/>
    <add key="MinPoolSize" value="0"/>
    <add key="MaxPoolSize" value="150"/>
    <add key="ConnectionLifetime" value="30"/>
  </appSettings>
</configuration>